body {
  font-size: 1.6rem;
  min-width: 450px;
}

.banner {
  background-color: #253237;
  color: #FFF;
  font-size: 2em;
}

.banner > img {
  max-width: 100%;
  max-height: 300px;
}

.image-btn {
  width: 250px;
  display: inline-flex;
}

.image-btn > img {
  height: 50px;
  padding:5px;
  width: auto;
  margin-right: 20px;
}
