<div class="banner">
  <img width="100%" height="auto" src="assets/images/docker-banner-dark.png">
</div>

<div layout-padding>
  <h1>Build Tools</h1>

  <ul class="buckets" layout-wrap layout-align-center-center layour-row>
    <li ng-repeat="tool in vmHome.buildTools" class="flex-sm-50 flex-md-50 flex-25">
      <a class="md-button md-primary md-raised md-ink-ripple" ng-href="{{tool.link}}">
        <div class="block"><img width="50px" height="auto" ng-src="assets/images/{{tool.icon}}"/></div>
        <span class="block">
          {{tool.name}}
        </span>
      </a>
    </li>
  </ul>

</div>
