<div class="banner">
  <img src="assets/images/docker-banner-dark.png">
</div>

<div layout-padding>
  <h1>Build Tools</h1>

  <div>
    <div layout="row" layout-md="column">
      <div flex="25" ng-repeat="link in vmHome.internalLinks">
        <md-button class="image-btn" href="{{link.link}}">
          <img class="image-btn-icon" ng-src="assets/images/{{link.icon}}"/>
          <h2>{{link.name}}</h2>
        </md-button>
      </div>
    </div>
  </div>

  <h1>External Links</h1>

  <div>
    <div layout="row" layout-md="column">
      <div flex="25" ng-repeat="link in vmHome.externalLinks">
        <md-button class="image-btn" href="{{link.link}}">
          <img class="image-btn-icon" ng-src="assets/images/{{link.icon}}"/>
          <h2>{{link.name}}</h2>
        </md-button>
      </div>
    </div>
  </div>

</div>
